<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.King.infra.modules.codegroup.CodeGroupMapperIN">

    <resultMap id="resultMapObj" type="com.King.infra.modules.codegroup.CodeGroup"></resultMap>
	<select id="selectListMap" resultMap="resultMapObj">
		SELECT
			cg.seq
			,cg.code_group_name
			,cg.code_en_name
			,cg.use_ny
			,cg.reg_date
			,cg.mod_date
			,COUNT(*) cnt
		FROM tb_ccg cg 
		LEFT JOIN tb_cc c on cg.seq = c.ccg_seq
		GROUP BY cg.seq
		having 1=1
			and cg.code_group_name LIKE CONCAT('%',#{sh_ccg_name_ko},'%')
<!-- 			and cg.seq LIKE CONCAT('%',#{sh_seq},'%') -->
	</select>
</mapper>