<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.King.infra.modules.member.MemberMapper">

<!-- 	리스트 불러오기용 -->
    <resultMap id="resultMapObj" type="com.King.infra.modules.member.Member"></resultMap>
    
	<select id="selectList" resultMap="resultMapObj">
	<include refid="Base.selectListUpperForMysql" />
		SELECT
			seq
		,<include refid="AllCol" />
		<include refid="selectCommon" />
	<include refid="Base.selectListLowerForMysql" />
	</select>
	
<!-- 	리스트에서 하나만 선택 -->
	<select id="selectListOne" resultMap="resultMapObj">
		SELECT
			seq
		,<include refid="AllCol" />
			From tb_member
			where
			seq = #{li_seq}
	</select>
	
<!-- 	페이지네이션 갯수 확인용 -->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*) as totalRows
		<include refid="selectCommon" />
	</select>
	
<!-- 	중복확인용 1이면 중복됨 / 0이면 중복아님 -->
	<select id="selectDuplicate" resultType="Integer">
		SELECT COUNT(*) From tb_member where id = #{id}
	</select>
	
	<insert id="insertOne">
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		INSERT INTO tb_member(
		    name
		    ,id
		    ,gender
			<if test="dob != null and !dob.equals('')"> 
				,dob
			</if>
		    ,zip_code
		    ,address
		    ,address_detail
		    ,tell
		    ,email
		    ,admin_ny
		    ,reg_date
			<if test="mod_date != null and !mod_date.equals('')"> 
				,mod_date
			</if>
			<if test="del_date != null and !del_date.equals('')"> 
				,del_date
			</if>
		    ,del_ny
		    ,pw
		)
		VALUES(
			#{name}
			,#{id}
			,#{gender}
			<if test="dob != null and !dob.equals('')"> 
				,#{dob}
			</if>
			,#{zip_code}
			,#{address}
			,#{address_detail}
			,#{tell}
			,#{email}
			,#{admin_ny}
			,now()
			<if test="mod_date != null and !mod_date.equals('')"> 
				,#{mod_date}
			</if>
			<if test="del_date != null and !del_date.equals('')"> 
				,#{del_date}
			</if>
			,#{del_ny}
			,#{pw}
		)
	</insert>

	
<!-- 	멤버 전체 셀렉트용 -->
	<sql id="AllCol">
		    name
		    ,id
		    ,gender
		    ,dob
		    ,zip_code
		    ,address
		    ,address_detail
		    ,tell
		    ,email
		    ,admin_ny
		    ,reg_date
		    ,mod_date
		    ,del_date
		    ,del_ny
		    ,pw
	</sql>
	
<!-- 	멤버리스트 검색조건용 -->
	<sql id="selectCommon">
		FROM tb_member
		where 1=1
		<choose>
			<when test="sh_date_option == 0"> and reg_date between #{sh_start_date} and #{sh_end_date}</when>
			<when test="sh_date_option == 1"> and mod_date between #{sh_start_date} and #{sh_end_date}</when>
			<when test="sh_date_option == 2"> and del_date between #{sh_start_date} and #{sh_end_date}</when>
			<when test="sh_date_option == 3"> and dob between #{sh_start_date} and #{sh_end_date}</when>
			<otherwise></otherwise>
		</choose>
		<choose>
			<when test="sh_div == 0">and seq = #{sh_val}</when>
			<when test="sh_div == 1">and name LIKE CONCAT('%',#{sh_val},'%')</when>
			<when test="sh_div == 2">and id LIKE CONCAT('%',#{sh_val},'%')</when>
			<when test="sh_div == 3">and gender LIKE CONCAT('%',#{sh_val},'%')</when>
			<when test="sh_div == 4">and address LIKE CONCAT('%',#{sh_val},'%')</when>
			<when test="sh_div == 5">and tell LIKE CONCAT('%',#{sh_val},'%')</when>
			<when test="sh_div == 6">and email LIKE CONCAT('%',#{sh_val},'%')</when>
			<otherwise></otherwise>
		</choose>
		<choose>
			<when test="sh_admin_ny == 0">and admin_ny = 0</when>
			<when test="sh_admin_ny == 1">and admin_ny = 1</when>
			<otherwise></otherwise>
		</choose>
	</sql>
</mapper>